body{
	background-color: #a7dcec;

}


ul {
	border:1px solid #fff;
	background: #fafafa;
	list-style-type: none ;
	padding-bottom: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
	font-family: "veranda";
}

 

li {
	padding: 10px;
}


input {
	margin-top:30px;
}

.msg {
	font-size: 20px;
}

ul:hover {
	background-color: #d3d3d3;
}




